In [1]:
from pathlib import Path
import pandas as pd

In [11]:
p_data = Path("/mnt/d/Datas/bycicle/")

In [16]:
df = pd.read_csv(p_data / "bike18121905_1.csv", encoding="cp949")

In [20]:
df.columns

Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리', '사용시간'],
      dtype='object')

In [23]:
df.head().T

,0,1,2,3,4
대여일자,2018-12-01,2018-12-01,2018-12-01,2018-12-01,2018-12-01
대여시간,0,0,0,0,0
대여소번호,1721,3511,1975,110,749
대여소명,1721. 창동역 2번출구,3511. 응봉역 1번출구,1975. 대림역 1번 출입구 밑,110. 사천교,749. 이대 목동병원 앞
대여구분코드,정기권,정기권,정기권,정기권,정기권
성별,\N,\N,\N,\N,\N
연령대코드,~10대,~10대,~10대,~10대,~10대
이용건수,1,1,1,1,1
운동량,25.95,52.59,136.26,17.76,95.67
탄소량,0.26,0.39,1.17,0.16,0.7
이동거리,1130,1660,5060,690,3020
사용시간,4,72,21,2,15

In [ ]:
cols = {
    '대여일자': 'date', 
    '대여시간': 'hour', 
    '대여소번호': 'officenum', 
    '대여소명': 'office', 
    '대여구분코드': 'code', 
    '성별': 'sex', 
    '연령대코드': 'age', 
    '이용건수': 'usecount', 
    '운동량': 'excercise', 
    '탄소량': '', 
    '이동거리': 'distance', 
    '사용시간': 'usedhour'
}
    
]